$sidebar-width: 300px;

nav {
  max-width: $sidebar-width;
  min-width: $sidebar-width - 60px;

}

.mat-list-item {
  font-size: 0.9rem;
}

.mat-list .mat-list-item.mat-list-item-with-avatar, .mat-list .mat-list-option.mat-list-item-with-avatar, .mat-nav-list .mat-list-item.mat-list-item-with-avatar, .mat-nav-list .mat-list-option.mat-list-item-with-avatar, .mat-selection-list .mat-list-item.mat-list-item-with-avatar, .mat-selection-list .mat-list-option.mat-list-item-with-avatar {
  height: 3rem;
}