<nav class="sidebar">

    <mat-toolbar class="logo-container">

        <mat-toolbar class="logo">
            <mat-icon color="primary">movie</mat-icon>
            <span class="title active">
             <strong>FORJAN</strong>.IN
            </span>
        </mat-toolbar>

        <div>
            <button mat-flat-button color="primary" class="subscription arc-button mat-elevation-z1">
                <mat-icon>star</mat-icon>
                subscription
            </button>
        </div>

    </mat-toolbar>

    <mat-divider></mat-divider>

    <mat-nav-list>

        <mat-list-item class="nav-active">
            <mat-icon mat-list-icon>home</mat-icon>
            <span mat-line><a matLine href="" >首页</a></span>
        </mat-list-item>

        <mat-list-item>
            <mat-icon mat-list-icon>video_library</mat-icon>
            <a matLine>
                电影
            </a>
        </mat-list-item>

        <mat-list-item>
            <mat-icon mat-list-icon>play_arrow</mat-icon>
            <a matLine>
                电视剧
            </a>
        </mat-list-item>

        <mat-list-item>
            <mat-icon mat-list-icon>brightness_3</mat-icon>
            <a matLine>
                Ramadan
            </a>
        </mat-list-item>

        <mat-list-item >
            <mat-icon mat-list-icon >favorite_border</mat-icon>
            <a matLine >
                我的收藏
            </a>
            <i matBadge="22"   class="badge"></i>
        </mat-list-item>

        <mat-list-item>
            <mat-icon mat-list-icon>collections</mat-icon>
            <a matLine>
                稍后观看
            </a>
        </mat-list-item>

        <mat-divider></mat-divider>

        <mat-list-item>
            <mat-icon mat-list-icon>settings</mat-icon>
            <a matLine>
                设置
            </a>
        </mat-list-item>
        <mat-list-item>
            <mat-icon mat-list-icon>exit_to_app</mat-icon>
            <a matLine>
                登出
            </a>
        </mat-list-item>
    </mat-nav-list>
</nav>