<nav>
    <mat-nav-list>
        <mat-list-item>
            <mat-icon mat-list-icon color="primary">home</mat-icon>
            <span mat-line><a matLine href="">首页</a></span>
        </mat-list-item>

        <mat-list-item>
            <mat-icon mat-list-icon color="primary">history</mat-icon>
            <a matLine>
                历史记录
            </a>
        </mat-list-item>

        <h3 mat-subheader>网站精选</h3>

        <mat-list-item>
            <mat-icon mat-list-icon color="primary">music_note</mat-icon>
            <a matLine href="">音乐</a>
        </mat-list-item>

        <mat-list-item>
            <mat-icon mat-list-icon fontSet="fontawesome" fontIcon="fa-soccer-ball-o" color="primary"></mat-icon>
            <a matLine href="">体育</a>
        </mat-list-item>

        <mat-list-item>
            <mat-icon mat-list-icon fontSet="fontawesome" fontIcon="fa-gamepad" [color]="game.isActive?'accent':'primary'"></mat-icon>
            <a matLine href=""  routerLinkActive #game="routerLinkActive">游戏</a>
        </mat-list-item>

        <mat-list-item>
            <mat-icon mat-list-icon [color]="movie.isActive?'accent':'primary'">movie</mat-icon>
            <a matLine routerLink="/movie"   routerLinkActive #movie="routerLinkActive">电影</a>
        </mat-list-item>

        <mat-list-item>
            <mat-icon mat-list-icon fontSet="fontawesome" fontIcon="fa-tv" color="primary"></mat-icon>
            <a matLine href="">电视节目</a>
        </mat-list-item>

        <mat-list-item>
            <mat-icon  mat-list-icon fontSet="fontawesome" fontIcon="fa-newspaper-o" [color]="animation.isActive?'accent':'primary'" ></mat-icon>
            <a matLine  routerLink="/animation" routerLinkActive #animation="routerLinkActive">动漫</a>
        </mat-list-item>

        <mat-list-item>
            <mat-icon mat-list-icon fontSet="fontawesome" fontIcon="fa-imdb" color="primary"></mat-icon>
            <a matLine href="">直播</a>
        </mat-list-item>
    </mat-nav-list>
</nav>
