$container-padding-right-padding: 3%;
$container-min-height: calc(100vh - 67px - 3vh);
$gap-width:20px;


.watch-container {
  min-height: $container-min-height;
  padding-right: $container-padding-right-padding;
  padding-left: $container-padding-right-padding;
}

.gap{
  min-height: $gap-width*3;
  min-width: $gap-width;
}

app-player{
  min-width: 63%;
  max-width: 70%;
  min-height: 60%;
}