$container-min-height: calc(100vh - 67px - 3vh);
$gap-width: 20px;
$playlist-lr-padding: 3%;

.watch-container {
  min-height: $container-min-height;
}

.left-gap {
  min-height: $gap-width*3;
  min-width: $gap-width*3;
}

.center-gap {
  min-height: $gap-width*3;
  min-width: $gap-width;
}

app-player {
  min-width: 63%;
  max-width: 70%;
  min-height: 60%;
}



