<vg-player>

    <vg-overlay-play></vg-overlay-play>

    <!-- <vg-scrub-bar>
         <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
         <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
     </vg-scrub-bar>-->

    <vg-controls>
        <vg-play-pause></vg-play-pause>

        <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>

        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>

        <vg-mute></vg-mute>

        <vg-fullscreen></vg-fullscreen>
    </vg-controls>

    <video [vgMedia]="master" #master [vgMaster]="true" id="masterVideo" preload="auto">
        <source *ngIf="(value$|async) as value" [src]="value[0]" type="video/mp4">
    </video>

</vg-player>

<div *ngIf="currentEpisode">
    <div class="play-title">
        <h3>{{currentEpisode.title}}</h3>
    </div>
    <div class="play-description">
        <strong class="light-font" *ngIf="currentEpisode.description">
            简介:
        </strong>
        {{currentEpisode.description}}
    </div>
</div>

