<vg-player>

    <vg-overlay-play></vg-overlay-play>

    <!-- <vg-scrub-bar>
         <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
         <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
     </vg-scrub-bar>-->

    <vg-controls>
        <vg-play-pause></vg-play-pause>

        <vg-scrub-bar>
            <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
            <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
        </vg-scrub-bar>

        <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>

        <vg-mute></vg-mute>

        <vg-fullscreen></vg-fullscreen>
    </vg-controls>

    <video [vgMedia]="master" #master [vgMaster]="true" id="masterVideo" preload="auto">
        <source *ngIf="(value$|async) as value" src="http://dx.data.video.iqiyi.com/videos/v0/20181111/1e/d3/3410897db51e3f16de567414e526849e.ts?start=0&end=2476738&hsize=3316&tag=0&v=6814203511&contentlength=1540848&qdv=1&qd_uid=1023108576&qd_vip=0&qd_src=3_31_312&qd_tm=1541989616806&qd_ip=75ad8507&qd_p=75ad8507&qd_k=42d316bf40d892d4eab4c316933532fa&sgti=&dfp=&qd_sc=582aae823eb55039b7d73c652c15a2a8" >
    </video>

</vg-player>

<div *ngIf="currentEpisode">
    <div class="play-title">
        <h3>{{currentEpisode.title}}</h3>
    </div>
    <div class="play-description">
        <strong class="light-font" *ngIf="currentEpisode.description">
            简介:
        </strong>
        {{currentEpisode.description}}
    </div>
</div>

