@import "../../../gloal_variable.scss";

$player-height: 72vh;

vg-player {
  //max-height: $player-height;
}

#dplayer {
  max-height: $player-height;
}

.player-padding {
  padding-left: 10vh;
}

.video-description {
  padding-top: 0;
  padding-bottom: 0;
}