<div class="view-container">

    <app-header (toggle)="sidebar.toggle();"></app-header>

    <mat-progress-bar *ngIf="(progressBarValue$|async) as progressBarValue" color="primary"
                      [value]="progressBarValue"></mat-progress-bar>


        <mat-sidenav-container>

            <mat-sidenav #sidebar [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                         [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">

                <app-sidebar></app-sidebar>

            </mat-sidenav>

            <mat-sidenav-content>
                <router-outlet></router-outlet>
            </mat-sidenav-content>


        </mat-sidenav-container>
</div>






