$sidebar-bg-color: #FAFAFA;
$container-margin-top:2px;

mat-sidenav-container {
  min-height: calc(100vh - 67px);
  width: 100%;
  margin-top: $container-margin-top;

}

mat-sidenav {
  background-color: $sidebar-bg-color;
  min-height: calc(100vh - 67px);
}


mat-sidenav-content {
  margin: 1vh 1.5vh auto;
  padding: 2vh 3vh;
  min-height: calc(100vh - 67px - 1vh);
  background-color: white;
}


