<div class="view-container">
    <app-header  (toggle)="sidebar.toggle();"></app-header>
    <div class="view-container">

        <mat-sidenav-container>

            <mat-sidenav #sidebar  [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
                         [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)">
                <app-sidebar></app-sidebar>

            </mat-sidenav>

            <mat-sidenav-content>
                <div class="content">
                    <router-outlet></router-outlet>
                </div>
            </mat-sidenav-content>

        </mat-sidenav-container>
    </div>
</div>



