<header class="mat-elevation-z1">
    <mat-toolbar class="header-bg-color" [ngClass]="{'handset-padding':isHandset$|async}" >

        <button class="mat-elevation-z1" mat-icon-button (click)="toggle.emit();">
            <mat-icon>menu</mat-icon>
        </button>

        <span fxFlex="1 1 auto"></span>

        <app-header-handset [hidden]="!(isHandset$|async)" (onSearch)="submitSearchForm($event);"></app-header-handset>


        <app-header-default *ngIf="!(isHandset$|async)" (onSearch)="submitSearchForm($event);"></app-header-default>

    </mat-toolbar>
</header>

