$header-bg-color: white;

mat-toolbar {
  background-color: $header-bg-color;
}

/*.menu-button {
  min-width: 240px;
}*/

@mixin remove-input-style($color) {
  background-color: #FAFAFA;
  border: 1px solid #FAFAFA; /*去除阴影*/
  &:focus {
    outline-style: none;
  }
}

.search-container {
 border: 2px solid #FAFAFA;
  font-style: inherit;
}

.search-input {
  //width: 460px;
  line-height: 28px;
  @include remove-input-style(#FAFAFA);
}

.user-button {
  div, button {
    margin-left: 18px;
  }
}