$header-bg-color: white;
//$header-margin-bottom: 3px;

$header-primary-color: #FAFAFA;
header {
  //margin-bottom: $header-margin-bottom;
}

mat-toolbar {
  background-color: $header-bg-color;
}

@mixin remove-input-style($color) {
  background-color: $color;
  border: 1px solid $color; /*去除阴影*/
  &:focus {
    outline-style: none;
  }
}

.search-container {
  border: 3px solid $header-primary-color;
}

.search-input {
  line-height: 28px;
  @include remove-input-style($header-primary-color);
}

.user-button {
  div, button {
    margin-left: 18px;
  }
}

.user-avatar {
  border-radius: 50%;
}