<section class="play-list-container" role="main" *ngIf="episodes$|async as episodes; else loading">

     <div class="next-play-list">
         <span>接下来播放</span>

         <mat-slide-toggle labelPosition="before" class="float-right">
             <small class="light-font">自动播放</small>
         </mat-slide-toggle>
     </div>

    <ul role="list" id="play-list" class="play-list">
        <li *ngFor="let episode of episodes;" role="listitem" class="item-content hover-cursor-pointer" [ngClass]="{'item-active':episode.rawValue==(playValue$|async),' hover-active':episode.rawValue!=(playValue$|async)}"><!---->
            <div fxLayout="row" (click)="playEpisode(episode);">
                <div class="video-img">
                    <!--http://placehold.it/168x100-->
                    <img  [src]="episode.image" [alt]="episode.title">
                    <div class="play-time"><span class="play-info">{{(episode.duration|playTime)}}</span> </div>
                </div>

                <div class="info">
                    <div class="title">{{episode.title}}</div>
                    <div class="video-belong light-font">
                        <small>
                            {{episode.shortDescription}}
                        </small>
                    </div>
                    <div class="views light-font">
                        <!--<small>18万 次观看</small>-->
                    </div>
                </div>

            </div>
        </li>
    </ul>

    <a>{{message}}</a>

</section>

<ng-template #loading >
    <div fxLayout="row" fxLayoutAlign="center">
        <mat-spinner mode="indeterminate" >

        </mat-spinner>
    </div>
</ng-template>
