<div fxLayout="column" class="item mat-elevation-z4 hover-cursor-pointer" appMouseEnterAddClass="['mat-elevation-z8']" *ngIf="item">
   <div class="img-container" fxLayout="row" fxLayoutAlign="end end">
       <!--http://placehold.it/180x236-->
       <a (click)="watch();">
           <img class="item-img" [src]="item['image']" [alt]="item['title']" >
       </a>
       <span class="play-info" fxFlexOffset="-3px">{{item['playInfo']}}</span>
   </div>

    <div class="title-container">
        <span class="title"> {{item['title']}}</span>
        <span fxFlex="1 1 auto"></span>
        <span class="menu-button">
                  <button mat-icon-button [matMenuTriggerFor]="menu">
                      <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                      <button mat-menu-item>
                          稍后播放
                      </button>

                  </mat-menu>
              </span>
    </div>

    <div class="item-bottom light-font">
        <span>
             {{item['videoInfo']}}
        </span>
    </div>
</div>
