/* You can add global styles to this file, and also import other style files */
@import "theme";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.arc-button {
  display: inline-block;
  position: relative;
  margin: 10px;
  padding: 0 20px;
  text-align: center;
  text-decoration: none;
  font: bold 12px/25px Arial, sans-serif;

  text-shadow: 1px 1px 1px rgba(255, 255, 255, .22);

  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;

  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, .29), inset 1px 1px 1px rgba(255, 255, 255, .44);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, .29), inset 1px 1px 1px rgba(255, 255, 255, .44);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, .29), inset 1px 1px 1px rgba(255, 255, 255, .44);

  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -ms-transition: all 0.15s ease;
  transition: all 0.15s ease;
}

.active {
  color: map-get($app-primary-color, default) !important;
}

.nav-active{
  @extend .active;
  border-left: 2px solid;
}
